<template>
    <div>
      <ToolbarComponent />
      <router-view></router-view>
      <FooterComponent />
    </div>
</template>

<script>
import ToolbarComponent from './ToolbarComponent'
import FooterComponent from './FooterComponent'
  export default {
    name: 'IndexComponent',
    components: {
      ToolbarComponent,
      FooterComponent,
    }
  }
</script>
