<template>
  <div>
    <LoginForm />
  </div>
</template>
<script>
import LoginForm from './elements/LoginForm'
  export default {
    name: 'LoginPageComponent',
    components: {
      LoginForm
    }
  }
</script>
