<template>
  <div>
    <RegisterForm />
  </div>
</template>
<script>
import RegisterForm from './elements/RegisterForm'
  export default {
    name: 'RegisterPageComponent',
    components: {
      RegisterForm
    }
  }
</script>
