<template>
    <v-toolbar color="indigo" dark>
      <v-toolbar-title><span class="">ASK</span><span class="">overflow</span></v-toolbar-title>

      <v-spacer></v-spacer>
      <template v-if="$vuetify.breakpoint.mdAndUp">
          <div class="menu">
            <v-toolbar-items>
              <router-link to="/" exact>
                <v-btn class="text--white" text>
                  Home
                </v-btn>
              </router-link>
              <router-link to="/about">
                <v-btn class="text--white" text>
                  About
                </v-btn>
              </router-link>
              <router-link to="/login">
                <v-btn class="text--white" text>
                  Login
                </v-btn>
              </router-link>
            </v-toolbar-items>
          </div>
      </template>

      <template v-if="$vuetify.breakpoint.smAndDown">
        <v-btn icon>
          <v-icon>mdi-export-variant</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-delete-circle</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-plus-circle</v-icon>
        </v-btn>
      </template>
    </v-toolbar>
</template>

<script>
    export default {
        name: 'ToolbarComponent',
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style scoped>
 a {
    text-decoration: none;
    color: red;
 }
.router-link-active {
    color: #ffffff;
    background-color: #424242
 }
</style>
