<template>
  <v-form @submit.prevent="login">
    <v-row justify="center" align="center">
      <v-col
        cols="12"
        md="4"
      >
        <v-text-field
          v-model="form.username"
          label="UserName"
          required
          type="text"
        ></v-text-field>
      </v-col>

      <v-col
        cols="12"
        md="4"
      >
        <v-text-field
          v-model="form.password"
          label="Password"
          required
          type="password"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col cols="12" class="text-center">
        <v-btn type="submit">Login</v-btn>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col cols="12" class="text-center">
        <v-btn dark color="indigo" to="/register">Register</v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>
<script>
  export default {
    name: 'LoginForm',
    data () {
      return {
        form: {
          username: null,
          password: null
        }
      }
    },
    methods: {
      login () {
        User.login(this.form)
      }
    }
  }
</script>
